
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon healthyDiet hd-people-fill"></i>
                    <div class="name">people-f</div>
                    <div class="fontclass">.hd-people-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-people"></i>
                    <div class="name">people</div>
                    <div class="fontclass">.hd-people</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-mail-fill"></i>
                    <div class="name">mail-fill</div>
                    <div class="fontclass">.hd-mail-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-mail"></i>
                    <div class="name">mail</div>
                    <div class="fontclass">.hd-mail</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-lock-fill"></i>
                    <div class="name">lock-fill</div>
                    <div class="fontclass">.hd-lock-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-lock"></i>
                    <div class="name">lock</div>
                    <div class="fontclass">.hd-lock</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-diet-fill"></i>
                    <div class="name">diet-fill</div>
                    <div class="fontclass">.hd-diet-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-diet"></i>
                    <div class="name">diet</div>
                    <div class="fontclass">.hd-diet</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-bill-fill"></i>
                    <div class="name">bill-fill</div>
                    <div class="fontclass">.hd-bill-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-bill"></i>
                    <div class="name">bill</div>
                    <div class="fontclass">.hd-bill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-food-fill"></i>
                    <div class="name">food-fill</div>
                    <div class="fontclass">.hd-food-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-food"></i>
                    <div class="name">food</div>
                    <div class="fontclass">.hd-food</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-calculat-fill"></i>
                    <div class="name">calculat-fill</div>
                    <div class="fontclass">.hd-calculat-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-calculat"></i>
                    <div class="name">calculat</div>
                    <div class="fontclass">.hd-calculat</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-setting-fill"></i>
                    <div class="name">setting-fill</div>
                    <div class="fontclass">.hd-setting-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-setting"></i>
                    <div class="name">setting</div>
                    <div class="fontclass">.hd-setting</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-unfold"></i>
                    <div class="name">unfold</div>
                    <div class="fontclass">.hd-unfold</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-packup"></i>
                    <div class="name">packup</div>
                    <div class="fontclass">.hd-packup</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-return"></i>
                    <div class="name">return</div>
                    <div class="fontclass">.hd-return</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-enter"></i>
                    <div class="name">enter</div>
                    <div class="fontclass">.hd-enter</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-close"></i>
                    <div class="name">close</div>
                    <div class="fontclass">.hd-close</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-add"></i>
                    <div class="name">add</div>
                    <div class="fontclass">.hd-add</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-right"></i>
                    <div class="name">right</div>
                    <div class="fontclass">.hd-right</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-success-fill"></i>
                    <div class="name">success-fill</div>
                    <div class="fontclass">.hd-success-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-success"></i>
                    <div class="name">success</div>
                    <div class="fontclass">.hd-success</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-fail-fill"></i>
                    <div class="name">fail-fill</div>
                    <div class="fontclass">.hd-fail-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-fail"></i>
                    <div class="name">fail</div>
                    <div class="fontclass">.hd-fail</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-info-fill"></i>
                    <div class="name">info-fill</div>
                    <div class="fontclass">.hd-info-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-info"></i>
                    <div class="name">info</div>
                    <div class="fontclass">.hd-info</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-meat-fill"></i>
                    <div class="name">meat-fill</div>
                    <div class="fontclass">.hd-meat-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-meat"></i>
                    <div class="name">meat</div>
                    <div class="fontclass">.hd-meat</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-vegetables-fill"></i>
                    <div class="name">vegetables-fill</div>
                    <div class="fontclass">.hd-vegetables-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-vegetables"></i>
                    <div class="name">vegetables</div>
                    <div class="fontclass">.hd-vegetables</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-grains-fill"></i>
                    <div class="name">grains-fill</div>
                    <div class="fontclass">.hd-grains-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-grains"></i>
                    <div class="name">grains</div>
                    <div class="fontclass">.hd-grains</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-dressing-fill"></i>
                    <div class="name">dressing-fill</div>
                    <div class="fontclass">.hd-dressing-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-dressing"></i>
                    <div class="name">dressing</div>
                    <div class="fontclass">.hd-dressing</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-drinks-fill"></i>
                    <div class="name">drinks-fill</div>
                    <div class="fontclass">.hd-drinks-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-drinks"></i>
                    <div class="name">drinks</div>
                    <div class="fontclass">.hd-drinks</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-snacks-fill"></i>
                    <div class="name">snacks-fill</div>
                    <div class="fontclass">.hd-snacks-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-snacks"></i>
                    <div class="name">snacks</div>
                    <div class="fontclass">.hd-snacks</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-radio-fill"></i>
                    <div class="name">radio-fill</div>
                    <div class="fontclass">.hd-radio-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-radio"></i>
                    <div class="name">radio</div>
                    <div class="fontclass">.hd-radio</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-checkbox-fill"></i>
                    <div class="name">checkbox-fill</div>
                    <div class="fontclass">.hd-checkbox-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-checkbox"></i>
                    <div class="name">checkbox</div>
                    <div class="fontclass">.hd-checkbox</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-plus-fill"></i>
                    <div class="name">plus-fill</div>
                    <div class="fontclass">.hd-plus-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-plus"></i>
                    <div class="name">plus</div>
                    <div class="fontclass">.hd-plus</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-minus-fill"></i>
                    <div class="name">minus-fill</div>
                    <div class="fontclass">.hd-minus-fill</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-minus"></i>
                    <div class="name">minus</div>
                    <div class="fontclass">.hd-minus</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-excel"></i>
                    <div class="name">excel</div>
                    <div class="fontclass">.hd-excel</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-material"></i>
                    <div class="name">material</div>
                    <div class="fontclass">.hd-material</div>
                </li>
            
                <li>
                <i class="icon healthyDiet hd-dish"></i>
                    <div class="name">dish</div>
                    <div class="fontclass">.hd-dish</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">healthyDiet</span> <span class="hljs-selector-tag">hd-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"healthyDiet"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
