.CSSTransition {
  height: 100%;
  width: 100%;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.scale-enter {
  opacity: 0.01;
  transform: scale3d(0.5,0.5,1) !important;
  -webkit-transform: scale3d(0.5,0.5,1) !important;
}

.scale-enter.scale-enter-active {
  opacity: 1;
  transform: scale3d(1,1,1);
  -webkit-transform: scale3d(1,1,1) !important;
  transition: all 100ms ease-in !important;
}

.scale-exit {
  opacity: 1;
  transform: scale3d(1,1,1) !important;
  -webkit-transform: scale3d(1,1,1) !important;
}

.scale-exit.scale-exit-active {
  opacity: 0.01;
  transform: scale3d(0.5,0.5,1) !important;
  -webkit-transform: scale3d(0.5,0.5,1) !important;
  transition: all 100ms ease-in;
}
