.Modal {
  .PurchaseCard {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    .hd-close {
      display: none;
    }
  }

  .modal-title {
    text-align: center;
    line-height: 4rem;
    font-size: @font-normal;
    border-bottom: solid 1px @color-gray;
  }

  .modal-buttons {
    border-top: solid 1px @color-gray;
    .mixin-flex;

    .modal-button {
      .mixin-flex-1;
      height: 4.4rem;
      line-height: 4.4rem;
      text-align: center;

      & + .modal-button {
        border-left: solid 1px @color-gray;
      }
    }
  }
}
