
@color-common: #52a7f1; // 通常颜色
@color-secondary: #CCC;

// 主题颜色
// @color-title-bg:       #CDB284;
@color-title-bg:       #66B3FF;
@color-text-bg:        #EFF1E1;
@color-normal-bg:      #EDF5F2;
@color-line:           #DCE3EC;
@color-dark-line:      #947361;
@color-shadow:         #D3CEDD;
@color-element:        #CD939D;
@color-text-dark:      #7b2e55;

// icon颜色
@color-green:          #4fc195;
@color-green-dark:     #207245;
@color-red:            #ff2e2e;


@color-title-text:     #FFFFFF;






@color-white: #ffffff; // 按钮背景纯白色
@color-light: #f7f7f7; // 背景淡灰色
@color-gray: #dedede; // 边框浅灰色
@color-dark: #989898; // 文字浅灰色
@color-darker: #656565; // 文字深灰色
@color-darkest: #282828; // 文字黑色
@color-black: #000000;

@font-mini: 1rem;
@font-smaller: 1.2rem;
@font-small: 1.3rem;
@font-normal: 1.4rem;
@font-big: 1.5rem;
@font-bigger: 1.6rem;
@font-large: 1.7rem;

@images: "../../assest/images";
