.PageContainer{
  height: 100%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  .content{
    overflow-x: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: @color-white;
    &.has-footer {
      bottom: 49px;
    }
    &.has-header {
      top: 44px;
    }
  }
}
